Source: samplv1
Section: sound
Priority: optional
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 11), cmake, pkg-config,
  qtbase6.6-static (>= 6.5), qttools6.6-static (>= 6.5),
  qtsvg6.6-static (>= 6.5), qttranslations6.6-static (>= 6.5),
  libjack-dev | libjack-jackd2-dev, libasound2-dev,
  lv2-dev, liblo-dev, libsndfile-dev, libfftw3-dev,
  librubberband-dev, libsamplerate-dev
Standards-Version: 4.6.2
Rules-Requires-Root: no

Package: samplv1-jack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libjack0 | libjack-jackd2-0
Replaces: samplv1-common (<= ${source:Version}), samplv1 (<= ${source:Version})
Description: An old-school polyphonic sampler - JACK standalone
  An old-school all-digital polyphonic sampler synthesizer with stereo fx.
  .
  This package provides the standalone JACK client application (samplv1_jack)

Package: samplv1-lv2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Replaces: samplv1-common (<= ${source:Version})
Description: An old-school polyphonic sampler - LV2 plugin
  An old-school all-digital polyphonic sampler synthesizer with stereo fx.
  .
  This package provides the LV2 plugin (http://samplv1.sourceforge.net/lv2)
