Source: samplv1
Section: contrib/sound
Priority: extra
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 9), automake, pkg-config,
  qtbase5-static (>= 5.13), qttools5-dev-tools (>= 5.1),
  libjack-dev | libjack-jackd2-dev, libasound2-dev,
  lv2-dev, liblo-dev, libsndfile-dev, librubberband-dev
Standards-Version: 3.9.7

Package: samplv1
Architecture: any
Depends: libjack0 | libjack-jackd2-0, ${misc:Depends}, ${shlibs:Depends}
Replaces: samplv1-common (<= ${source:Version})
Description: An old-school polyphonic sampler - JACK standalone
  An old-school all-digital polyphonic sampler synthesizer with stereo fx.
  .
  This package provides the standalone JACK client application (samplv1_jack)

Package: samplv1-lv2
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: samplv1-common (<= ${source:Version})
Description: An old-school polyphonic sampler - LV2 plugin
  An old-school all-digital polyphonic sampler synthesizer with stereo fx.
  .
  This package provides the LV2 plugin (http://samplv1.sourceforge.net/lv2)
