[Desktop Entry]
Name=samplv1
Version=1.0
GenericName=MIDI
Comment=samplv1 is an old school polyphonic sampler
Comment[fr]=samplv1 est un échantillonneur polyphonique à l'ancienne
Exec=samplv1_jack
Icon=samplv1
Categories=Audio;AudioVideo;Midi;X-Alsa;X-Jack;Qt;
Keywords=Audio;MIDI;ALSA;JACK;Synthesizer;Sampler;LV2;Qt;
Terminal=false
Type=Application
StartupWMClass=samplv1_jack
X-Window-Icon=samplv1
X-SuSE-translate=true
